* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  background-color: #f2f2f2;
  font-family: "Red Hat Display", sans-serif;
  color: #87879d;
  font-size: 16px;
  text-align: center;
}

.aqua {
  color: #8fe3f9;
}

.violet {
  color: #d9b8ff;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: #ffffff;
  border-radius: 1.8125rem;
}

.btn--aqua {
  background-color: #4d96a9;
}

.btn--violet {
  background-color: #855fb1;
}

.btn--big {
  width: 12.0625rem;
  padding: 1rem 2.5rem;
}

.btn--small {
  width: 8.6875rem;
  padding: 1rem 1.8125rem;
}

.header {
  padding-top: 3rem;
}

.logo {
  width: 7.4375rem;
  height: 1.75rem;
  display: block;
  margin: 0 auto 3.375rem;
}

.hero__bg-img {
  min-width: 414px;
  min-height: 153px;
  margin-bottom: 3rem;
  background-image: url("../../assets/tablet/image-hero.png");
  background-size: cover;
  background-position: left -24px top 0;
  background-repeat: no-repeat;
}

.hero__title {
  color: #28283d;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}

.hero__text {
  padding: 0 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.btn--big {
  margin-bottom: 1.5rem;
}

.btn--small {
  margin-bottom: 4rem;
}

.decoration-line {
  width: 1px;
  height: 84px;
  opacity: 0.25;
  background-color: #87879d;
  margin-left: auto;
  margin-right: auto;
}

.decoration {
  font-weight: 900;
  height: 56px;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background-color: #f2f2f2;
  border-radius: 29px;
  position: relative;
}

.section1 {
  margin-top: 4rem;
  padding: 0 1.5rem 4rem;
}

.section1__imgs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 4rem;
}

.section1__img {
  width: 9.4375rem;
  height: 8.9375rem;
  border-radius: 0.5rem;
  margin-bottom: 24px;
}

.section1__sub-header {
  color: #4d96a9;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 1.5rem;
}

.section__title {
  color: #28283d;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.section__text {
  line-height: 1.625rem;
}

.section2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 169, 0.9))), url("../../assets/mobile/image-footer.jpg");
  background-image: linear-gradient(rgba(77, 150, 169, 0.9)), url("../../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 5.75rem 1.5rem 4.5rem;
  margin-top: -28px;
}

.title--white {
  color: #ffffff;
}

.section2__text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */