$clrWhiteBackground: #f2f2f2;
$clrWhite: #ffffff;
$clrBlack: #28283d;
$clrGray: #87879d;
$clrAqua: rgb(77, 150, 169);
$clrAquaOverlay: rgba(77, 150, 169, 0.9);
$clrAquaLight: #8fe3f9;
$clrViolet: #855fb1;
$clrVioletLight: #d9b8ff;
$clrVioletHover: #d9b8ff;
$clrAquaHover: #71c0d4;
