.container-fluid {
  background-color: $clrWhiteBackground;
  font-family: $fontMain;
  color: $clrGray;
  font-size: 16px;
  text-align: center;
}

.aqua {
  color: $clrAquaLight;
}
.violet {
  color: $clrVioletLight;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
