.hero__img {
  width: 110.4%;
  height: auto;
  display: block;
  margin-left: -20px;
  margin-bottom: 3rem;
}
.hero__title {
  color: $clrBlack;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  padding: 0 1.25rem;
}
.hero__text {
  padding: 0 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}
