.hero__bg-img {
  min-width: 414px;
  min-height: 153px;
  margin-bottom: 3rem;
  background-image: url("../../assets/tablet/image-hero.png");
  background-size: cover;
  background-position: left -24px top 0;
  background-repeat: no-repeat;
}
.hero__title {
  color: $clrBlack;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}
.hero__text {
  padding: 0 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}
.btn--big {
  margin-bottom: 1.5rem;
}
.btn--small {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .hero__bg-img {
    min-width: 820px;
    min-height: 303px;
  }
  .hero__title {
    padding: 4.5rem 195px 24px;
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero__text {
    padding: 0 155px;
  }
  .hero__btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    .btn--big,
    .btn--small {
      margin: 0;
    }
    .btn--big {
      margin-right: 1rem;
    }
  }
}
@media (min-width: 1440px) {
  .hero__bg-img {
    display: none;
  }
  .hero__title-and-text-wrapper {
    min-width: 820px;
    min-height: 303px;
    background-image: url(../../assets/desktop/image-hero-left.png),
      url("../../assets/desktop/image-hero-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right -20px top 0, left -20px top 0;
  }
  .hero__title {
    font-size: 4rem;
    padding: 4.5rem 31.125rem 2.125rem;
    line-height: 4rem;
  }
  .hero__text {
    padding: 0 28.125rem 2rem;
  }
}
