.hero__bg-img {
  min-width: 414px;
  min-height: 153px;
  margin-bottom: 3rem;
  background-image: url("../../assets/tablet/image-hero.png");
  background-size: cover;
  background-position: left -24px top 0;
  background-repeat: no-repeat;
}
.hero__title {
  color: $clrBlack;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}
.hero__text {
  padding: 0 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}
.btn--big {
  margin-bottom: 1.5rem;
}
.btn--small {
  margin-bottom: 4rem;
}
